html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ebfbff;
  background-image: url(../images/bg-hero-mobile.svg);
  height: 765px;
  margin-bottom: 60px;
}

header h2 {
  text-align: center;
}

header p {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  color: #00252e;
  margin-bottom: 30px;
}

header .container {
  width: 90%;
  margin: auto;
}

header .button-try {
  background-color: white;
  color: #00252e;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 0.7rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  float: right;
}

header .logo img {
  width: 30%;
}

header .nev-bar {
  padding-top: 20px;
  margin-bottom: 80px;
}

header .cnt {
  width: 75%;
  margin: auto;
}

header .button-get {
  font-family: 'Poppins', sans-serif;
  background-color: #ff52bf;
  color: white;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 40px;
  font-size: 0.7rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  margin-bottom: 60px;
}

header .mock-ups {
  width: 90%;
  margin: auto;
}

header .mock-ups img {
  width: 100%;
}

section {
  width: 90%;
  margin: auto;
}

section img {
  width: 100%;
}

section .article-1 {
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  margin-bottom: 50px;
}

section .article-1 p {
  color: #808d99;
  font-size: 0.8rem;
}

section .article-2 {
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  margin-bottom: 50px;
}

section .article-2 p {
  color: #808d99;
  font-size: 0.8rem;
}

section .article-3 {
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  margin-bottom: 50px;
}

section .article-3 p {
  color: #808d99;
  font-size: 0.8rem;
}

footer {
  background-color: #00252e;
  color: white;
}

footer .get-started {
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  color: #00252e;
  background-color: white;
  padding-bottom: 35px;
  padding-top: 10px;
}

footer .get-started .button-get {
  font-family: 'Poppins', sans-serif;
  background-color: #ff52bf;
  color: white;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  border-radius: 40px;
  font-size: 0.7rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 60%;
  cursor: pointer;
}

footer .content {
  width: 90%;
  margin: auto;
}

footer .content .mobile {
  color: white;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */